#root {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
  border-radius: 20px;
  color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.explore-form-area {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.explore-form {
  width: 70%;
}

.explore-form-button {
  margin-top: 1vh;
}

.city-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #757575;
  border-radius: 15px;
  margin: min(2vw, 2vh);
  color: white;
}

.city-card .card-img-bottom {
  background-color: rgb(59, 59, 59);
  padding: 1vw;
  border-radius: 10px;
}

.card-text-container {
  background-color: rgb(59, 59, 59);
  border-radius: 10px;
  margin-bottom: 2vh;
  padding: 1em;
}

.timer-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.timer-container .api-timer {
  max-width: 30%;
}

.api-render-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.weather-movie-container {
  display: flex;
  align-items: center;
}

